<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="public/css/index.css">
</head>
<body>
    <div class="contenedor">
        <% if(iniciado === true){ %>
            <h1>Welcome <strong><%= name %></strong></h1>
            <a href="logout" class="btn-register">Logout</a>
        <% } else{ %>
            <h1>WELCOME <%= name %></h1>
            <a href="login" class="btn-register">Sing In</a>
        <% } %>
        
    </div>
    <footer>Creado por JACOB ARGUELLES</footer>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>